<form method="post" action="{{ path('app_r_servations_des_activiter_delete', {'id': r_servations_des_activiter.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ r_servations_des_activiter.id) }}">
    <button class="btn">Delete</button>
</form>
