{% extends 'base.html.twig' %}

{% block title %}Edit ReservationsDesActiviter{% endblock %}

{% block body %}
    <h1>Edit ReservationsDesActiviter</h1>

    {{ include('réservations_des_activiter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_r_servations_des_activiter_index') }}">back to list</a>

    {{ include('réservations_des_activiter/_delete_form.html.twig') }}
{% endblock %}
