{% extends 'base.html.twig' %}

{% block title %}ReservationDesBiens index{% endblock %}

{% block body %}
    <h1>ReservationDesBiens index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for r_servation_des_bien in r_servation_des_biens %}
            <tr>
                <td>{{ r_servation_des_bien.id }}</td>
                <td>
                    <a href="{{ path('app_r_servation_des_biens_show', {'id': r_servation_des_bien.id}) }}">show</a>
                    <a href="{{ path('app_r_servation_des_biens_edit', {'id': r_servation_des_bien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_r_servation_des_biens_new') }}">Create new</a>
{% endblock %}
