{# templates/success_page.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    <div class="alert alert-success">
        {{ successMessage }}
    </div>

    <p><a href="{{ path('app_voiture_index') }}">Back to list</a></p>
    <p><a href="{{ path('app_r_servations_des_activiter_index') }}">Back to list</a></p>
    <p><a href="{{ path('app_r_servation_des_biens_index') }}">Back to list</a></p>

{% endblock %}
