{# templates/feedback/_form.html.twig #}

{{ form_start(form) }}
    {{ form_row(form.comment) }}
    {{ form_row(form.note) }}
    <button type="submit">Ajouter Feedback</button>
{{ form_end(form) }}
